.link{text-decoration: none;}

.links__container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap:1rem;
    text-decoration: none;
    border-radius: 50px;
    background: #222222;
    box-shadow:  18px 18px 36px #1d1d1d,
                 -18px -18px 36px #272727;
    transition: all 0.3s ease;

}
.links__container:hover{
    transform: scale(1.05);
    box-shadow: 18px 18px 36px #3d3d3d, -18px -18px 36px #1d1d1d;
}
.links__img{
    width: 300px;
    border-radius: 34px;
}
.links__title{
    color: white;
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
}